@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

// colors
$gray-10: #fcfcfc;
$gray-20: #f5f5f5;
$gray-30: #e8ebee;
$gray-40: #e5e5e5;

$blue-10: #0080c6;

$black: #000;

// fonts
$widget-header-font: 'Bodoni Moda', serif;


// dimensions
$header-height: 64px;
$margin-sm: 16px;
$padding-sm: 16px;
